/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/main'

.c-app
	padding-top 70px
.c-avatar-icon
	cursor pointer
	.badge__badge
		bottom 0 !important

.c-social
	text-decoration none
	color inherit

.c-link
	text-decoration none
	color inherit
	&.is
		&_block
			display block

.c-icon
	&.is
		&_small
			font-size 1.5rem

.c-footer
	@media (max-width 600px)
		&__c-social
			.c-social
				&__item
					&.is
						&_3
						&_4
						&_5
							display none

.c-description
	overflow hidden
	font-size 14px !important
	height 63px !important

.c-skill-img
	display block
	border-radius 100%
	width 100px
	height 100px
	margin-right auto
	margin-left auto
	box-shadow 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px rgba(0,0,0,.14), 0 1px 18px rgba(0,0,0,.12)
	@media (max-width 600)
		width 75px
		height 75px

.c-script-popup
	.card__text
		padding 0
		overflow hidden
		width 100%
		height 100%
	iframe
		width 100%
		height 100%

.c-intro-block
	max-width 500px

.is
	&-short-text
		white-space nowrap
		overflow hidden
		text-overflow ellipsis
		cursor default
	&-full-width
		width 100%
	&-color-white
		color #FFF

.VueCarousel-wrapper
	border-radius 200px
	padding-top 20px
	padding-bottom 20px
